<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>

    <style type="text/css" media="screen">
      body {
        background-color: skyblue;
        text-decoration-color: white;
        font-size: 7em;
      }
    </style>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container" style="width: 45%; padding-bottom: 200px">
      <form id="uploadForm" enctype="multipart/form-data" method="post">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="userFile" />

        <div style="float: left; margin-top: 10px">
          <input type="submit" value="Timestamp report" name="upload" />
          <input
            type="submit"
            value="Attendance Report"
            style="margin-left: 12.5px"
            name="upload"
          />
          <input
            type="submit"
            value="Student Report"
            style="margin-left: 12.5px"
            name="upload"
          />
        </div>
      </form>
    </div>
  </body>
</html>
