<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>

    <style type="text/css" media="screen">
      body {
        background-color: skyblue;
        text-decoration-color: white;
        font-size: 7em;
      }
    </style>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container" style="width: 45%">
      <form id="uploadForm" enctype="multipart/form-data" method="post">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="userFile" />

        <input
          type="submit"
          value="Upload File"
          onclick="setTimeout(()=>{
            document.getElementById('uploadForm').reset();
        },100);"
          name="upload"
        />
      </form>
    </div>
  </body>
</html>
